@keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translateY(20%); 
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
@keyframes fadeOutBottom {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(20%); 
    }
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(20%); 
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
@keyframes fadeOutRight {
    0% {
      opacity: 1;
      transform: translateX(0%); 
    }
    50% {
      opacity: 0;
      transform: translateX(0%); 
    }
    100% {
      opacity: 0;
      transform: translateX(20%);
    }
}
